@mixin font{
    font-family: Helvetica,Verdana,Arial,sans-serif;
    color: #444;
    font-weight: 100;
}
.ClearFiltersButton{
        background-color: white;
        width: fit-content;
        padding: 6px 12px;
        font-size: 14px;
        border: 1px solid white;
        @include font;
        // border-radius: 5px;
        transition-duration: 0.5s;
        cursor: pointer;
        @media screen and (max-width: 1015px) {
            margin-top: 10px;
        }
        @media screen and (max-width: 815px) {
            font-size: 13px;
         }
         @media screen and (max-width: 615px) {
            width: fit-content;
            margin-right: 20px;
            border: 1px solid #c6c6c6;
            margin-top: 15px;
         }
        &:hover{
            transition-property: border;
            transition-duration: 0.5s;
            border: 1px solid red;
        }
    
}