
.filterContainer{
    @media screen and (max-width: 1015px) {
        height: 100px;
    }
    @media screen and (max-width: 615px) {
        height: 90px; 
     }
    border-bottom:  1px solid #c6c6c6;
    .filters{
        width: 1000px;
        margin: 0px auto;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 1015px) {
            width: 800px;
            display: flex;
            flex-wrap: wrap;
            margin-top: 15px;
        }
        @media screen and (max-width: 815px) {
            width: 600px; 
         }
         @media screen and (max-width: 615px) {
            width: 400px; 
         }

    }
}
.SearchInfo{
    width:1000px ;
    margin: 0px auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1015px) {
        width: 800px;
    }
    @media screen and (max-width: 815px) {
        width: 600px; 
     }
     @media screen and (max-width: 615px) {
        width: 400px; 
     }
    .sortBlock{
        width: fit-content;
    }
    h1{
        font-family: Helvetica,Verdana,Arial,sans-serif;
        font-weight: 100;
        font-size: large;
        @media screen and (max-width: 815px){
            padding-top: 10px;
        }
        @media screen and (max-width: 615px) {
            font-size: medium; 
         }
    }
}