
.filterContainer{

    border-bottom:  1px solid #c6c6c6;
    .filters{
        width: 1000px;
        margin: 0px auto;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;

    }
}
.SearchInfo{
    width:1000px ;
    margin: 0px auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sortBlock{
        width: fit-content;
    }
    h1{
        font-family: Helvetica,Verdana,Arial,sans-serif;
        font-weight: 100;
        font-size: large;
    }
}