.container{
    width: 100%;

    border-bottom: 2px solid red;
    .header{
        height: 70px;
        width: 1000px;

        margin: 0px auto;
        padding:0px 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 615px) {
            height: 50px; 
         }
        img{
            height: 50px;
            width: 50px;
            @media screen and (max-width: 615px) {
                width: 40px;
                height: 40px; 
             }
        }
    }
}