@mixin count{
    width: 72px;
    height: 72px;
    font-size: 20px;
    padding-top: 21px;
    text-align: center;
    font-family: Helvetica,Verdana,Arial,sans-serif;
    font-weight: 100;
}

.container{
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    .activePage{
        background-color: whitesmoke;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        border-left: 0.5px solid grey;
        border-right: 0.5px solid grey;
        &_value{
            @include count;
        }
    }

    .nonActivePage{
        @include count;
        border-left: 0.5px solid grey;
        border-right: 0.5px solid grey;
    }
    .dots{
        display: flex;
        flex-direction: row;
        border-left: 0.5px solid grey;
        border-right: 0.5px solid grey;
        &_text{
            @include count;
        }
    }
    .line{
        height: 70px;
        width: 1px;
        background-color: grey;
    }
}