@mixin font{
    font-family: Helvetica,Verdana,Arial,sans-serif;
    color: #444;
    font-weight: 100;
}

.RefineSearch{
    @include font;
    display: flex;
    gap: 20px;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
    @media screen and (max-width: 1015px) {
        margin: 10px 20px 0px 0px;
    }
    @media screen and (max-width: 815px) {
        font-size: 12px;
        gap: 10px;
     }

    .settingIcon{
        transition: 200ms;
        height:25px;
        width: 25px;
        @media screen and (max-width: 815px) {
            width: 20px;
            height: 20px;
         }
    }
    .settingIcon_active{
        transform: rotate(180deg);
    }
    .label{
        color:#575757;
    }
}
.title{
    @include font;
    padding-bottom: 8px;
    font-size: 16px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .button{
        background-color: white;
        width: fit-content;
        padding: 6px 12px;
        font-size: 14px;
        border: 1px solid #c6c6c6;
        @include font;
        // border-radius: 5px;
        transition-duration: 0.5s;
        &:hover{
            transition-property: border;
            transition-duration: 0.5s;
            border: 1px solid red;
        }
    }
}
