.horizontal_slider{
    background-color:#e2e2e2;
    width: 300px;
    height: 30px;
    overflow: hidden;
    border-radius: 20px;
    .thumb{
        height: 30px;
        width: 30px;
        background-color: red;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        cursor: grab;
        
    }
    .track{
        left: 0px;
        width: 100px;
        height: 30px;
        background-color:red;
    }
}