$frameSize: 1000px;
.container{
    .offerList{
        width: $frameSize;
        margin: 20px auto;
    }
    .PageCount{
        margin: 20px auto;
        width: $frameSize;
        padding-bottom:50px ;
    }
}
