$RangeSize:500px;
@mixin defaultFont{
  font-family: Helvetica,Verdana,Arial,sans-serif;
  color: #444;
  font-weight: 100;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: $RangeSize;
    @include defaultFont;

  }
  
  .slider {
    position: relative;
    width: $RangeSize;
  }
  
  .slider__track,
  .slider__range,
  .slider__left-value,
  .slider__right-value {
    position: absolute;
  }
  
  .slider__track,
  .slider__range {
    border-radius: 3px;
    height: 5px;
  }
  
  .slider__track {
    background-color: #ced4da;
    height: 2px;
    width: 100%;
    z-index: 1;
  }
  
  .slider__range {
    height: 2px;
    background-color: red;
    z-index: 2;
  }
  
  .slider__left-value,
  .slider__right-value {
    font-size: 12px;
    margin-top: 20px;
    @include defaultFont;
    border-bottom: 1px solid rgb(190, 190, 190);
    padding:0px 5px;
  }
  
  .slider__left-value {
    left: 0px;
  }
  
  .slider__right-value {
    right: 0px;
  }
  
  /* Removing the default appearance */
  .thumb,
  .thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: $RangeSize;
    outline: none;
  }
  
  .thumb--left {
    z-index: 3;
  }
  
  .thumb--right {
    z-index: 4;
  }
  
  /* For Chrome browsers */
  .thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
    transition-duration: 0.5s;
    &:hover{
      transition-property: transform;
      outline: 0.5px solid red;
      transition-duration: 0.5s;
      transform: scale(1.2);
    }
  }
  
  /* For Firefox browsers */
  .thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
    transition-duration: 0.5s;
    &:hover{
      transition-property: transform;
      outline: 0.5px solid red;
      transition-duration: 0.5s;
      transform: scale(1.2);
    }
  }
  