.modal{
    height: 100vh;
    width: 100vw;

    position: fixed;
    top:0px;
    left: 0px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;

    opacity: 0;
    background-color: rgba(0,0,0,0.4);
   
    
    pointer-events: none;
    transition: 200ms;
    .modalConntent{
        padding: 20px;
        width: 50vw;
        background-color: white;

        transform: scale(0);

        transition: 200ms;
    }
    .c_active{
         transform: scale(1);
    }
}
.m_active{
    transform: scale(1);
    opacity: 1;
    pointer-events:all;
}